

/* post container */
.post-container{
    max-width: 880px;


}


.post-container .post-card:nth-child(1){
    margin-top: 20px;
}

/* post card */
.post-card{
    width: 100%;
    height: auto;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #c9cbcc;
    padding: 24px;
}

/* post info */
.post-info{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

/* post title */
.post-title{
    width: 60%;
    margin-bottom: 10px;
}

/* author profile */
.author-dp{
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

/* post content */
.post-content{
    margin: 20px 0;
    color: #343A40;
    line-height: 23px;
}
