

main h2{
    color:#152536;
}

/* post container */
.post-container{
    max-width: 880px;
}


.post-container .post-card:nth-child(1){
    margin-top: 20px;
}

.post-container:last-child{
    margin-bottom: 50px;
}


/* post card */
.post-card{
    width: 100%;
    height: auto;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #c9cbcc;
    padding: 24px;
}

/* post info */
.post-info{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

/* post title */
.post-title{
    width: 324px;
    height: auto;
    font-size: 24px;
    color: #212529 !important;
    font-weight: light;
}

/* post author */

.post-author{
    color: #474c52;
    font-size: 16px;
}

/* author profile */
.author-dp{
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

/* post content */
.post-content{
    margin: 20px 0;
    line-height: 23px;
    font-size: 16px;
    font-weight: 400;
    /* width: 833px; */
    padding-right: 24px;
    color: #6C757D;
}

.post-content a{
    color: #6C757D; /* links inside the text */
}

.post-content + a{
    color: #7749F8;
    text-decoration: none;
}
.post-content + a:hover{
    text-decoration: underline;
}
