@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.container-fluid{
    padding: 15px 150px;
}


.navbar{
    width: 100%;
    background-color: #7749F8;
    display: flex;
    justify-content: space-between;
}

.navbar a, 
.navbar h4{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.navbar div{
    display: flex;
    gap: 15px;
}


.navbar #logoutBtn{
    cursor: pointer;
}


.page-title{
    background-color: #fff;
    padding: 25px 150px;
    color: #343a40;
}

.navbar{
    width: 100%;
    background-color: #7749F8;
    display: flex;
    justify-content: space-between;
}


main h2{
    color:#152536;
}

/* post container */
.post-container{
    max-width: 880px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.post-container .post-card:nth-child(1){
    margin-top: 20px;
}

.post-container:last-child{
    margin-bottom: 50px;
}


/* post card */
.post-card{
    width: 100%;
    height: auto;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #c9cbcc;
    padding: 24px;
}

/* post info */
.post-info{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

/* post title */
.post-title{
    width: 324px;
    height: auto;
    font-size: 24px;
    color: #212529 !important;
    font-weight: light;
}

/* post author */

.post-author{
    color: #474c52;
    font-size: 16px;
}

/* author profile */
.author-dp{
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

/* post content */
.post-content{
    margin: 20px 0;
    line-height: 23px;
    font-size: 16px;
    font-weight: 400;
    /* width: 833px; */
    padding-right: 24px;
    color: #6C757D;
}

.post-content a{
    color: #6C757D; /* links inside the text */
}

.post-content + a{
    color: #7749F8;
    text-decoration: none;
}
.post-content + a:hover{
    text-decoration: underline;
}

/* profile page */
.profile-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.profile-box img{
    border-radius: 5px;
    border: 1px solid #c9cbcc;
}


/* form stylings */
#mainForm button:active{
    scale: 0.98;
    opacity: 0.9;
}

#logoutBtn{
    display: none;
}

/* 

footer{
    width: 100%;
    height: 200px;
    background-color: #7749F8;
    padding: 40px 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer .follow{
    width: 40%;
    height: 80%;
    border-right: 1px solid #fff;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .follow-links{
    display: flex;
    gap: 12px;
}

footer .follow-links a{
    color: #fff;
    font-size: 34px;
}



footer .follow span,
footer .news-letter span{
    color: #fff;
    font-size: 28px;
    font-weight: lighter;
}

footer .news-letter{
    height: 80%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .news-letter .email{
    width: 280px;
    border-bottom: 2px solid #fff;
}

footer .news-letter input{
    background: none;
    border: none;
    outline: none;
    color: #f3f3f3;
    font-size: 20px;
    font-weight: lighter;
}

footer .news-letter input::placeholder{
    color: #f3f3f3;
}

footer .news-letter button{
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    color: #f3f3f3;
    cursor: pointer;
}

footer .news-letter button:active{
    color: #fff;
}

footer .news-letter a{
    color: #f3f3f3;
    font-weight: lighter;
}

footer .credit{
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

footer .credit a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

footer .credit a:hover{
    text-decoration: underline;
}

.goTop{
    background-color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goTop a{
    color: #7749F8;
    text-decoration: none;
} */

