

/* media query for mobile screen */

@media screen and (min-width:200px) and (max-width:425px) {

    body{
        font-size: 12px;
    }

    .container-fluid{
        padding: 10px 20px ;
    }

    .post-container  *{
        font-size: 12px;
    }

    .post-title{
        width: 100%;
        font-size: 16px;
        margin-bottom: 2px;
    }

    .page-title{
        padding: 10px 20px !important;
    }

    .navbar{
        width: 100%;
    }

    .page-title{
        width: 100%;
    }

    .sidebar{
        visibility: hidden;
    }

    .box{
        width: 85%;
        height: auto;
        top: 0px;
        left: 0px;
        right: 0px;
        position: absolute;
        margin: 0 auto;
        margin-top: 120px;
        margin-bottom: 20px;
    }

    .goTop{
        display: none !important;
    }
   
    footer{
        height: 100px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    footer .follow{
        width: auto;
        height: auto;
        border-right: none;
        margin: 0 auto;
    }

    footer .follow span{
        font-size: 16px;
    }

    .news-letter{
        display: none !important;
    }

    .follow-links i{
        font-size: 20px;
    }

    footer .credit{
        margin-top: -5px;
    }
}

@media screen and (min-width:426px) and (max-width:1024px) {
    
    .container-fluid {
        padding: 15px 100px;
    }

    .box{
        width: 50%;
        height: auto;
        top: 0px;
        left: 0px;
        right: 0px;
        position: absolute;
        margin: 0 auto;
        margin-top: 130px;
    }

    footer .follow {
        width: 30%;
    }

    .sidebar{
        display: none !important;
    }
}