.page-title a,
.author-info .author-name {
  font-size: 28px;
  text-decoration: none;
  color: #7749f8;
  font-weight: bolder;
}

.sidebar,
.author-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.author-info a:first-child {
  color: #000;
}

.sidebar {
  text-align: right;
  position: absolute;
  right: 0;
  margin-right: 30px;
  margin-top: 60px;
  gap: 10px;
}

.sidebar img {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  border: 1px solid #c9cbcc;
}
